<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- 1.选择一个 -->
      <!-- <select name="abx"  v-model='fruits'>
      <option value="香蕉" >香蕉</option>
      <option value="苹果" >苹果</option>
      <option value="榴莲" >榴莲</option>
      <option value="草莓" >草莓</option>
    </select>
    <h2>您选择的是{{fruit}}</h2> -->

      <!-- 2.选择多个 -->
      <select name="abx" v-model="fruits" multiple>
        <option value="香蕉">香蕉</option>
        <option value="苹果">苹果</option>
        <option value="榴莲">榴莲</option>
        <option value="草莓">草莓</option>
      </select>
      <h2>您选择的是{{fruits}}</h2>
    </div>

    <script src="../js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "hello",
          fruit: "香蕉",  //选择一个
          fruits:[]  //选择多个
        },
      });
    </script>
  </body>
</html>
